.brand-logo {
  font-family: "Press Start 2P", cursive;
  margin-left: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.secondary-content:hover {
  text-decoration: underline;
  cursor: pointer;
}

#types {
  display: flex;
}

#types p {
  padding: 1%;
  border-radius: 12%;
  margin-right: 1%;
}

.img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
